body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.list{
  text-align: center;
  color: #028bfc;
  font-size: small;
  font-style: italic;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  border-radius: 10px;
  padding: 3rem;
  border-radius: 10px;
  background-color: #4b4a4a;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
 
  flex: 1;
  margin: 5rem;
  border-radius: 10px;
  
}